body {
    background-color: blanchedalmond;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction:column;
    box-sizing:border-box;
}

.container1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 30px;
}
.container1 h1 {
    margin-block-end:0;
    margin-block-start: 0;
}
.container2 {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    margin: 10px;
}
.container3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-end;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.computer-info, .player-info {
    margin: 0 5vw;
    width: 5vw;
    /* height: 8vh; */
    display: flex;
    flex-direction: column;
}
.computer-info p, .player-info p {
    text-align: center;
    margin: 0;
}

.computer-info div, .player-info div, .pouch div {
    text-align: center;
    margin-top: 3px;
}
.computer-info img, .player-info img, .pouch img {
    height: 25px;
}
.computer-rack, .player-rack {
    min-height: 60px;
    height: 8.5vh;
    background-color: burlywood;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
}

.done, .reverse {
    margin: 0 10px;
}

.groups {
    height: 70vh;
    width: 30vw;
    /* border: 1px solid black; */
    margin: 1vh 1.5vw;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* padding: 1vh 1vw; */
}

.group {
    height: 8.5vh;
    display: flex;
    margin-bottom: 1px;
    flex-direction: row;

}
.runs {
    height: 70vh;
    width: 45vw;
    /* border: 1px solid black; */
    margin: 1vh 1.5vw;
    display: flex;
    flex-direction: column;
}

.run {
    display: flex;
    flex-direction: row;
    height: 8.5vh;
    margin-bottom: 1px;
}
.draw {
    height: 10vh;
    
}
.pouch {
    align-self: flex-end;
}

.tile {
    /* border: 1px solid darkgray; */
    width: 2.8vw;
    margin-left: 5px;
    background-image: url("../images/tileBack.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.25;
    box-shadow: 0.5px 1px 2px rgba(0, 0, 0, .5);
    border-radius: 5px;

}

.highlight, .computer {
    opacity: 1;
    
}

.highlight:hover {
    /* opacity: 0.1; */
    transform: translate(0px, -3px);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    /* cursor: move; */
    cursor: pointer;
}

.win {
    position: fixed;
    height: 60vh;
    width: 60vw;
    top: 20vh;
    left: 20vw;
    background-color:burlywood ;
    border-radius: 15px;
    text-align: center;
}

.start {
    z-index: 2;
    position: fixed;
    height: 60vh;
    width: 60vw;
    top: 20vh;
    left: 20vw;
    background-color:burlywood ;
    border-radius: 15px;
    text-align: center;
}

.win h2 {
    margin-top:50px;
}



.filter {
filter: blur(4px);
}